html {
  background-color: #9BB7D4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1096px;
}

.page h1 {
  font-size: 40pt;
}

.page h2 {
  align-self: flex-start;
}

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.user {
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  margin: 1em;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  padding: 25px;
  max-width: 250px;
}

.user_name {
  font-size: large;
  font-weight: bold;
}

.user_balance {
  align-self: flex-end;
}

.deposit_form input[type=submit] {
  font-size: large;
  font-weight: bolder;
  font-family: monospace;
}

.deposit_form input[type=number] {
  width: 30%;
}

.settings {
  padding: 10px;
  margin-top: 10px;
  background-color: white;
}

.item {
  display: flex;
  justify-content:space-between
}

.item_name {
  padding-right: 10px;
}

.item_price {
  font-weight: bold;
}
.price_form input[type=number] {
  font-weight: bold;
  width: 40px;
}